tags
!./configs/emacs/.emacs.d/*.el
!./configs/emacs/.emacs.d/layers/**/*
./configs/emacs/.emacs.d/*


### Emacs specific
# Ignore everything
./configs/emacs/.emacs.d/*
# Except for..
# !./configs/emacs/.emacs.d/*.el
# !./configs/emacs/.emacs.d/layers