! Font
!xterm*font: Hack-Regular 12

! These might also be useful depending on your monitor and personal preference:
! 144 = 150% scaling
/* Xft.dpi:192 */
Xft.dpi:144
/* Xft.dpi:120 */
Xcursor.size: 32

