! Font
!xterm*font: Hack-Regular 12

! These might also be useful depending on your monitor and personal preference:
Xft.dpi:120
Xcursor.size: 32
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

