/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/*
 * Default colors for i3 status bar
 * bar {
    colors {
        background #000000
        statusline #ffffff
        separator #666666

        focused_workspace  #4c7899 #285577 #ffffff
        active_workspace   #333333 #5f676a #ffffff
        inactive_workspace #333333 #222222 #888888
        urgent_workspace   #2f343a #900000 #ffffff
        binding_mode       #2f343a #900000 #ffffff
    }
}
 */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: #000000;
    opacity: 1.00;
    color: white;
    font-family: IBM Plex Mono, Hack, Inter, Cantarell;
    font-size: 14px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    padding-left: 6px;
    padding-right: 6px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    /* animation-timing-function: linear; */
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate; */
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: normal;
}

#cpu {
  /* No styles */
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: #900000;
    border-top: 1px solid #2f343a;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 1px;
}

#network {
    /* No styles */
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    /* No styles */
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#temperature {
    /* No styles */
}

#temperature.critical {
    color: red;
}

#tray {
    /* No styles */
}

/* #window { */
/*     font-weight: bold; */
/* } */

#window {
    /* To compensate for the top border and still have vertical centering */
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
}


/* Button */
#workspaces button {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    border-color: #333333;
    color: #888888;
    background-color: #222222;
}

/* START SWAY */

/* Focused button */
#workspaces button.focused {
    border-color: #4c7899;
    color: #eceff4;
    background-color: #285577;
}

/* Focused button but on inactive monitor */
#workspaces button.visible:not(.focused) {
    border-color: #333333;
    color: #ffffff;
    background-color: #5f676a;
}

/* END SWAY */

/* START HYPRLAND */

/* /\* Focused button but on inactive monitor *\/ */
/* #workspaces button.visible { */
/*     border-color: #333333; */
/*     color: #ffffff; */
/*     background-color: #5f676a; */
/* } */

/* /\* Active button *\/ */
/* #workspaces button.active { */
/*     border-color: #4c7899; */
/*     color: #eceff4; */
/*     background-color: #285577; */
/* } */

/* END HYPRLAND */

#workspaces button.urgent {
    border-color: #c9545d;
    /* color: #c9545d; */
}

#custom-sep {
    color: #888888;
    padding-left: 5px;
    padding-right: 5px;
}

/*
 * Disable button hover
 */
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: inherit;
}

