/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Colors
 * -------------------------------------------------------------------------- */

/* Sway Default Colors */
@define-color foreground-focused #ffffff;
@define-color foreground-focused-inactive #ffffff;
@define-color foreground-unfocused #888888;
@define-color foreground-urgent #900000;
@define-color background-focused #285577;
@define-color background-focused-border #4c7899;
@define-color background-focused-inactive #5f676a;
@define-color background-focused-inactive-border #333333;
@define-color background #000000;


/* Nord */
/* @define-color foreground #eceff4; */
/* @define-color foreground-inactive rgba(216, 222, 233, 0.5); */
/* @define-color background-focused rgba(80, 100, 120, 1.0); */
/* @define-color background-focused-inactive rgba(76, 86, 106, 1.0); */
/* @define-color background rgba(31, 34, 45, 1.0); */
/* @define-color foreground-urgent #c9545d; */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    /* background: #1f222d; */
    background: @background;
    opacity: 1.00;
    color: white;
    font-family: CommitMono, IBM Plex Mono, Hack, Inter, Cantarell;
    font-size: 22px;
    margin: 20px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    /* /\* To compensate for the top border and still have vertical centering *\/ */
    padding-bottom: 2px;
    margin-bottom: 3px;
    margin-top: 3px;
    padding-left: 15px;
    padding-right: 15px;
    color: #eceff4;
    margin-left: 5px;
    margin-right: 5px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    /* animation-timing-function: linear; */
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate; */
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: normal;
}

#cpu {
  /* No styles */
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: @background-focused;
    border-top: 2px solid white;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}

#network {
    /* No styles */
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    /* No styles */
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#temperature {
    /* No styles */
}

#temperature.critical {
    color: red;
}

#window {  /* window title */
    /* To compensate for the top border and still have vertical centering */
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;

}

/* Button default */
#workspaces button {
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    padding-top: 0px;
    padding-left: 12px;
    padding-right: 12px;
    color: @foreground-unfocused;
    border: 2px solid transparent;
}

/* Focused button */
#workspaces button.focused {
    /* border-top: 4px solid #667f99; */
    color: @foreground-focused;
    background: @background-focused;
    border: 2px solid @background-focused-border;
}

/* Focused button but on inactive monitor */
#workspaces button.visible:not(.focused) {
    color: @foreground-focused-inactive;
    background: @background-focused-inactive;
    border: 2px solid @background-focused-inactive-border;
}

/* Urgent button */
#workspaces button.urgent {
    border: 2px solid @foreground-urgent;
}

/* Hovered button */
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    transition-duration: 0.2s;
    /* background: inherit; */
    /* border: inherit; */
    background: @background-focused-inactive;
    color: @foreground-focused;
    border: 2px solid @background-focused-inactive;
}
